<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>
<!--
 <extension point="org.eclipse.ui.actionSets">
   		<actionSet id="fr.tpt.aadl.sched.Main" label="Scheduling Tools" visible="true">
   			<menu id="fr.tpt.aadl.sched.menu.cheddar" label="AADL-2-Cheddar">
   				<groupMarker name="fr.tpt.aadl.sched.menu.cheddar.gm"/>
   			</menu>
   			<action
   				class="fr.tpt.aadl.flow.CheddarBackgroundExecution"
   				icon="icon/SchedulerPr.gif"
   				id="fr.tpt.aadl.cheddar.scheduling"
   				label="Scheduling simulation with Cheddar"
   				state="true"
   				style="push"
   				toolbarPath="fr.tpt.aadl.sched.menu.cheddar.gm">
   			</action>
      <action
            class="fr.tpt.aadl.flow.LaunchCheddarUI"
            icon="icon/timeline_marker2.png"
            id="fr.tpt.aadl.cheddar.launch"
            label="Open Cheddar environment"
            state="true"
            style="push"
            toolbarPath="fr.tpt.aadl.sched.menu.cheddar.gm">
      </action>
      <action
            class="fr.tpt.aadl.flow.WCETAnalysis"
            icon="icon/grey_time.png"
            id="fr.tpt.aadl.wcet"
            label="WCET model-based computation"
            state="true"
            style="push"
            toolbarPath="fr.tpt.aadl.sched.menu.cheddar.gm">
      </action>
   		</actionSet>
    </extension>
 -->
 <extension
       point="fr.tpt.aadl.ramses.control.support.analyzer">
    <analyzer
          analysisName="WCETAnalysis"
          class="fr.tpt.aadl.launch.CheddarFactory"
          id="fr.tpt.aadl.sched.tools.cheddar.analyzer"
          name="TPT model-based WCET analysis">
    </analyzer>
 </extension>

</plugin>
