<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated TRC -->
      <package
            uri="http://fr.tpt.aadl.ramses.transformation/TRC/1.0"
            class="fr.tpt.aadl.ramses.transformation.trc.TrcPackage"
            genModel="model/TRC.genmodel"/>
   </extension>

</plugin>
