<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.propertyPages">
      <page
            class="fr.tpt.aadl.ramses.control.osate.properties.RamsesPropertyPage"
            icon="icons/RAMSES.gif"
            id="fr.tpt.aadl.ramses.control.osate.properties.RamsesPropertyPage"
            name="RAMSES Configuration">
         <enabledWhen>
            <instanceof
                  value="org.eclipse.core.resources.IProject">
            </instanceof>
         </enabledWhen>
	     <filter
	           name="nature"
	           value="org.osate.core.aadlnature">
	     </filter>
      </page>
      <page
            category="fr.tpt.aadl.ramses.control.osate.properties.RamsesPropertyPage"
            class="fr.tpt.aadl.ramses.control.osate.properties.LoggingConfigPage"
            id="fr.tpt.aadl.ramses.control.osate.ramses.log"
            name="Logging configuration">
      </page>
      <page
            class="fr.tpt.aadl.ramses.control.osate.properties.AadlInspectorPropertyPage"
            id="fr.tpt.aadl.ramses.control.osate.aadl.inspector"
            icon="icons/Icon-inspector.jpg"
            name="AADL Inspector configuration">
            <enabledWhen>
            <instanceof
                  value="org.eclipse.core.resources.IProject">
            </instanceof>
         </enabledWhen>
	     <filter
	           name="nature"
	           value="org.osate.core.aadlnature">
	     </filter>
      </page>
   </extension>

   <extension
         point="org.eclipse.ui.newWizards">
      <wizard
            category="org.eclipse.ui.Examples/org.osate.Wizard.category.examples"
            class="fr.tpt.aadl.ramses.osate.wizards.RamsesExamplesWizard"
            icon="icons/RAMSES.gif"
            id="fr.tpt.aadl.ramses.osate.wizard.examples"
            name="RAMSES"
            project="true">
      </wizard>
   </extension>
   
   <extension
		point="org.eclipse.ui.commands">
		<command
			description="RAMSES generation code from system instance"
			id="fr.tpt.aadl.ramses.control.osate.instance.generation"
			name="Generate code">
		</command>
        <command
            description="RAMSES generation code from aadl file outline"
        	id="fr.tpt.aadl.ramses.control.osate.outline.generation"
        	name="Generate code">
 		</command>
   </extension>

   <extension
     point="org.eclipse.core.expressions.definitions">
     <definition
       id="fr.tpt.aadl.ramses.instance.generation.expression">
       <with
         variable="selection">
         <and>
           <iterate
             ifEmpty="false"
             operator="and">
             <instanceof
               value="org.eclipse.core.resources.IFile">
             </instanceof>
             <test
               property="org.eclipse.core.resources.extension"
               value="aaxl2">
             </test>
           </iterate>
           <count
             value="1">
           </count>
         </and>
       </with>
     </definition>
     <definition
           id="fr.tpt.aadl.ramses.outline.generation.expression">
        <with
              variable="selection">
           <and>
              <iterate
                    ifEmpty="false"
                    operator="and">
                 <test
                       forcePluginActivation="true"
                       property="fr.tpt.aadl.ramses.control.osate.canGenerate">
                 </test>
              </iterate>
              <count
                    value="1">
              </count>
           </and>
        </with>
     </definition>
   </extension>
   
   <extension
         point="org.eclipse.core.expressions.propertyTesters">
      <propertyTester
            class="fr.tpt.aadl.ramses.control.osate.OutlinePropertyTester"
            id="fr.tpt.aadl.ramses.control.osate.OutlinePropertyTester"
            namespace="fr.tpt.aadl.ramses.control.osate"
            properties="canGenerate"
            type="org.eclipse.xtext.ui.editor.outline.impl.EObjectNode">
      </propertyTester>
   </extension>
   
   <extension point="org.eclipse.ui.menus">
	<menuContribution 
		allPopups="false"
		locationURI="popup:org.osate.xtext.aadl2.ui.outline?after=additions">
		<command
        commandId="fr.tpt.aadl.ramses.control.osate.outline.generation"
        icon="icons/RAMSES.gif"
        label="RAMSES code generation"
        style="push"
        tooltip="RAMSES code generation">
		</command>
	</menuContribution>
    <menuContribution
       locationURI="menu:org.eclipse.ui.main.menu">
    <menu
          id="ramses.menu"
          label="RAMSES">
       <command
             commandId="fr.tpt.aadl.ramses.control.osate.instance.generation"
             icon="icons/RAMSES.gif"
             label="RAMSES code generation"
             style="push"
             tooltip="RAMSES code generation">
       </command>
    </menu>
 </menuContribution>
    <menuContribution
          allPopups="false"
          locationURI="toolbar:org.eclipse.ui.main.toolbar">
       <toolbar
             id="fr.tpt.aadl.ramses.control.osate.toolbar.generation"
             label="RAMSES code generation">
          <command
                commandId="fr.tpt.aadl.ramses.control.osate.instance.generation"
                icon="icons/RAMSES.gif"
                label="RAMSES code generation"
                style="push"
                tooltip="RAMSES code generation">
          </command>
       </toolbar>
    </menuContribution>
   </extension>
   
   <extension
		point="org.eclipse.ui.handlers">
		<handler 
			class="fr.tpt.aadl.ramses.control.osate.GenerateActionHandler"
			commandId="fr.tpt.aadl.ramses.control.osate.instance.generation">
     <enabledWhen>
        <reference
              definitionId="fr.tpt.aadl.ramses.instance.generation.expression">
        </reference>
     </enabledWhen>
		</handler>
  <handler
        class="fr.tpt.aadl.ramses.control.osate.GenerateActionHandler"
        commandId="fr.tpt.aadl.ramses.control.osate.outline.generation">
     <enabledWhen>
        <reference
              definitionId="fr.tpt.aadl.ramses.outline.generation.expression">
        </reference>
     </enabledWhen>
  </handler>
	
	</extension>
	
	
   <extension
		point="org.eclipse.ui.commands">
		<command
			description="Launch AADL inspector on an instance model"
			id="fr.tpt.aadl.ramses.control.osate.inspector.launch.instance"
			name="Launch AADL inspector">
		</command>
   </extension>
   
   <extension
		point="org.eclipse.ui.commands">
		<command
			description="Launch AADL inspector on an AADL system implementation"
			id="fr.tpt.aadl.ramses.control.osate.inspector.launch.outline"
			name="Launch AADL inspector">
		</command>
   </extension>
   
   <extension point="org.eclipse.ui.menus">
	<menuContribution 
		allPopups="false"
		locationURI="popup:org.osate.xtext.aadl2.ui.outline?after=additions">
		<command
        commandId="fr.tpt.aadl.ramses.control.osate.inspector.launch.outline"
        icon="icons/Icon-inspector.jpg"
        label="Launch AADL Inspector"
        style="push"
        tooltip="Launch AADL Inspector">
		</command>
	</menuContribution>
	
	<menuContribution
          allPopups="false"
          locationURI="toolbar:org.eclipse.ui.main.toolbar">
       <toolbar
             id="fr.tpt.aadl.ramses.control.osate.toolbar.inspector"
             label="Launch AADL Inspector">
          <command
                commandId="fr.tpt.aadl.ramses.control.osate.inspector.launch.instance"
                icon="icons/Icon-inspector.jpg"
                label="Launch AADL Inspector"
                style="push"
                tooltip="Launch AADL Inspector">
          </command>
       </toolbar>
    </menuContribution>
	
   </extension>
   
   <extension
		point="org.eclipse.ui.handlers">
        <handler
            class="fr.tpt.aadl.aadlinspector.control.osate.AILauncherActionHandler"
            commandId="fr.tpt.aadl.ramses.control.osate.inspector.launch.outline">
            <enabledWhen>
                <reference
                    definitionId="fr.tpt.aadl.ramses.outline.generation.expression">
                </reference>
            </enabledWhen>
        </handler>
        <handler 
			class="fr.tpt.aadl.aadlinspector.control.osate.AILauncherActionHandler"
			commandId="fr.tpt.aadl.ramses.control.osate.inspector.launch.instance">
     			<enabledWhen>
        			<reference
              			definitionId="fr.tpt.aadl.ramses.instance.generation.expression">
        			</reference>
	    	 </enabledWhen>
		</handler>
	</extension>
	
</plugin>
