<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
 <copyright>
 </copyright>

 $Id$
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <package
            uri="http://fr.tpt.aadl.ramses.control.support/Ramses/1.0"
            class="fr.tpt.aadl.ramses.control.workflow.WorkflowPackage"
            genModel="model/RamsesWorkflow.genmodel"/>
   </extension>

</plugin>
