<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>
   <extension
         point="fr.tpt.aadl.ramses.control.support.analyzer">
      <analyzer
            analysisName="AADLInspector"
            class="fr.tpt.aadl.launch.AADLInspectorSchedulingAnalysis"
            id="fr.tpt.aadl.sched.tools.aadlinspector">
      </analyzer>
   </extension>

  
</plugin>
