<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated ElementTransformationTuple -->
      <package
            uri="http://fr.tpt.atl.hot.pm/pml"
            class="fr.tpt.atl.patternmatching.patternmatchingPackage"
            genModel="metamodels/ElementTransformationTuple.genmodel"/>
   </extension>

</plugin>
