<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.osate.pluginsupport.aadlcontribution">
      <aadlcontribution
            file="aadl_resources/package/OSEK_runtime.aadl2"
            id="fr.tpt.aadl.packages.osek_runtime.aadlcontribution"
            name="OSEK-Runtime">
      </aadlcontribution>
      <aadlcontribution
            file="aadl_resources/package/ARINC653_runtime.aadl2"
            id="fr.tpt.aadl.packages.arinc653_runtime.aadlcontribution"
            name="POK-Runtime">
      </aadlcontribution>
      <aadlcontribution
            file="aadl_resources/package/PeriodicDelayed_runtime.aadl2"
            id="fr.tpt.aadl.packages.periodicdelayed_runtime.aadlcontribution"
            name="PeriodicDelayed-Runtime">
      </aadlcontribution>
      <aadlcontribution
            file="aadl_resources/propertyset/pok_properties.aadl2"
            id="fr.tpt.aadl.propetries.pok.aadlcontribution"
            name="POK-Properties">
      </aadlcontribution>
      <aadlcontribution
            file="aadl_resources/propertyset/osek_properties.aadl2"
            id="fr.tpt.aadl.propetries.osek.aadlcontribution"
            name="OSEK-Properties">
      </aadlcontribution>
      <aadlcontribution
            file="aadl_resources/propertyset/oseknxt_properties.aadl2"
            id="fr.tpt.aadl.propetries.oseknxt.aadlcontribution"
            name="OSEK-NXT-Properties">
      </aadlcontribution>
      <aadlcontribution
            file="aadl_resources/propertyset/Generation_Properties.aadl2"
            id="fr.tpt.aadl.propetries.generation.aadlcontribution"
            name="Generation-Properties">
      </aadlcontribution>
   </extension>
</plugin>
