<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated TIP -->
      <package
            uri="http://fr.tpt.aadl.ramses.transformation/TIP/1.0"
            class="fr.tpt.aadl.ramses.transformation.tip.TipPackage"
            genModel="model/TIP.genmodel"/>
   </extension>

</plugin>
