<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="fr.tpt.aadl.ramses.control.support.generator">
      <generator
            class="fr.tpt.aadl.ramses.generation.integrity.IntegrityGeneratorFactory"
            id="fr.tpt.aadl.ramses.generation.target.integrity"
            transformationName="integrity">
      </generator>
   </extension>
</plugin>