<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="fr.tpt.aadl.ramses.generation.target.specific.loopManager">
      <loopManager
            class="fr.tpt.aadl.ramses.transformation.selection.manual.ManualSelectionFactory"
            id="fr.tpt.aadl.ramses.control.support"
            loopManagerName="ManualSelection"
            name="Manual selection">
      </loopManager>
   </extension>

</plugin>
