<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
 <copyright>
 </copyright>

 $Id$
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <package
            uri="http://fr.tpt.aadl.transformation.atl.hooks"
            class="fr.tpt.aadl.transformation.hooks.ATLHooks.ATLHooksPackage"
            genModel="model/ATLHooks.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.extension_parser">
      <parser
            type="atlhooks"
            class="fr.tpt.aadl.transformation.hooks.ATLHooks.util.ATLHooksResourceFactoryImpl"/>
   </extension>
   <extension
         point="fr.tpt.aadl.toolsuite.support.generator">
      <transformation
            class="fr.tpt.aadl.transformation.ATLTransfoLauncher"
            id="fr.tpt.aadl.atl.transformation.transformation"
            name="TPT ATL transformation"
            transformationName="ATLTransformation">
      </transformation>
   </extension>

</plugin>
